body {
    background-color: rgb(red, green, blue);
}
img{
    align-items: center;
    padding: center;
    border-radius: 140px;
    width: 200px;
    margin: 20px;
    background-color: blue;

}
.center {
    text-align: center;
}

#FOTO{
    width: 250px;
    align-items: center;
}